* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    padding: 2rem;
}

html {
    box-sizing: border-box;
    
}

.site {
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-header, .site-footer {
    background: #000;
    color: #FFF;
    display: flex;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 2rem;
    /* align-items: baseline; */
}

.site-header a {
    color: #FFF;
    text-decoration: none;
}

.site-header h1 a {
    color: #FFF;
    padding: 0 1rem;
}

.site-header nav {
    display: flex;
    margin-left: auto;
}

.site-header nav ul {
    display: flex;
}

.site-header nav li {
    display: flex;
    list-style: none;
   
}

.site-header nav a {
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

.site-header nav a:hover {
    background: #f00;
}

.site-header h1 {
    font-size: 3rem;
}

.site-content {
    display: flex;
    flex-wrap: wrap;
}

.site-content main {
    flex: 1 0 40rem;
    padding: 1rem;
}

.site-content aside {
    flex: 1 0 20rem;
    padding: 1rem;
}

.site-footer {
    padding: 0 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.site-footer p {
    margin-left: auto;
}