*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    /* position: relative; */
    /* max-width: 100%;
    height: 50%; */
    /* margin: auto auto; */
    /* padding: 2rem; */
}

.viewport {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* border: 1px solid #f00; */
}

.card:nth-child(1) {
    background-image: linear-gradient(to right, #185a9d, #007ab4, #0098ba, #00b4b2, #42cda1);
}

.card:nth-child(2) {
    background-image: linear-gradient(to right, #a83278, #c53764, #d5494b, #da6431, #d28212);
}

section.card .image {
    display: block;
    width: 100%;
    height: auto; 
    /* border: 2px solid #000; */
    /* overflow: hidden; */
    position: absolute;
}

section.card .image .portrait {
    display: block;
    width: auto;
    height: 100%; 
    /* border: 2px solid #000; */
    overflow: hidden;
    position: absolute;
}

.viewport .image:before {
    display: block;
    content: '';
    padding-top: 50%;
}

.viewport .image .portrait:before {
    display: block;
    content: '';
    padding-top: 50%;
}

section.card .image  {
    /* padding: 0 35%; */
    display: block;
   
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
section.card .image img {
    /* padding: 0 35%; */
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.viewport .image:after, .viewport .image:after .portrait {
    display: block;
    content: '';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: absolute;
    color: #fff;
}

.viewport .image:after {
    content: '\f0c1';
    top: 65%;
    left: 61%;
}

.viewport .image .portrait:after {
    content: "\f005";
    top: 90%;
    left: 62%;
}