*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.viewport {
    width: 100%;
    height: 50vh;
    position: relative;
}

.viewport:nth-child(1) {
    background-image: linear-gradient(to right, #185a9d, #007ab4, #0098ba, #00b4b2, #42cda1);
}

.viewport:nth-child(2) {
    background-image: linear-gradient(to right, #a83278, #c53764, #d5494b, #da6431, #d28212);
}

.viewport .card {
    width: 30%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.viewport .card .image  {
    overflow: hidden;
    border-radius: 0.3rem;
}

.viewport .card:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.3rem;
    box-shadow: inset 0px 0px 40px 20px rgba(0,0,0,0.75);
}

.viewport .card .image img {
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
}

.viewport.portrait .card {
    width: auto;
    height: 45vh;
}

.viewport.portrait .card .image  {
    width: auto;
    height: 100%;
}

.viewport.portrait .card .image img {
    width: auto;
    height: 100%;
}

.viewport .card:after {
    display: block;
    content: '';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: #fff;
}

.viewport .card:after {
    content: '\f0c1';
}

.viewport.portrait .card:after {
    content: "\f005";
}