*,*:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    /* position: relative; */
    /* max-width: 100%;
    height: 50%; */
    /* margin: auto auto; */
    /* padding: 2rem; */
   
}

.viewport {
    max-width: 100%;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* border: 1px solid #f00; */
}

section.card {
    display: block;
    width: 100%;
   height: auto;
    /* border: 2px solid #000; */
    overflow: hidden;
    position: absolute;
}

.viewport .first:before {
    display: block;
    content: '';
    padding-top: 50%;
    background-image: linear-gradient(to right, #185a9d, #007ab4, #0098ba, #00b4b2, #42cda1);
}

.viewport .second:before {
    display: block;
    content: '';
    padding-top: 50%;
    background-image: linear-gradient(to right, #a83278, #c53764, #d5494b, #da6431, #d28212);
}

section.card img {
    padding: 0 35%;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.viewport .first:after ,
.viewport .second:after {
    display: block;
    content: '';
    font-family:"Font Awesome 5 Pro";
    font-weight: 900; 
    position: absolute;
    color: #fff; 
}

.viewport .first:after {
    content: '\f0c1';
    top: 65%;
    left: 61%;
}

.viewport .second:after {
    content: "\f005";
    top: 90%;
    left: 62%;
}