@import url("typography.css");

.card-list {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 0 0 30%;
    border: 1px solid #EEE;
    border-radius: 0.5rem;
}

.card-content {
    padding: 1rem;
    /* border-width: 1px solid #EEE; */
}

.card-footer {
    border: 1px solid #EEE;
    display: flex;
}

.card-footer a {
    flex-grow: 1;
    display: block;
    padding: 0.5em 1em;
    color: #000;
    text-decoration: none;
    text-align: center;
}