@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
html {
    font: 16px/1.5 PT Sans;
    height: 100%;
}

body {
    height: 100%;
    background: #EEE;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 0.5em 2em;
    outline: 5px solid darkblue;
    margin-left: 1em;
    background: #fff;
    font-weight: bold;
    position: relative;
}

.container a:before {
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 0 0 10px darkblue;
    opacity: 0;
    transition: opacity 0.7s linear;
}

.container a:hover:before {
    opacity: 1;
}

/* .container a:hover:before {
    animation: outlineBigger 0.5s linear;
    animation-fill-mode: both;
}

@keyframes outlineBigger {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */