*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem;
    background: rgb(238, 238, 238);
}

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

p, ul, ol {
    padding-bottom: 1rem;
}

article {
    padding-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0.3em;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.45rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

blockquote {
    font-family: Georgia, serif;
}

img {
    border: 2px solid #000;
    background: #fff;
    padding: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25)
}

.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
}

header {
    border-bottom: 2px solid #000;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.main-article img {
    float: right;
    margin: 0 0 1rem 1rem;
}

.after-articles blockquote {
    font-style: italic;
    float: right;
    max-width: 50%;
    border-left: 5px solid #ddd;
    padding-left: 1rem;
    margin-left: 1rem;
}

.after-articles blockquote p:last-child {
    text-align: right;
}

.after-articles img {
    float: left;
    margin: 0 1rem 0 1rem
}

.site-sidebar ul {
    list-style: square;
    /* color: green; */
    /* list-style: none; */
    margin-left: 2.5em;
}

.site-sidebar ul li a {
    text-decoration: none;
    color: green;
}

.main-content {
    max-width: 100%;
    display: inline-block;
}

.site-sidebar {
    display: inline-block;
    width: 34%;
    padding-left: 3rem;
    /* outline: 1px solid black; */
}

.site-content {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    /* outline: 1px solid black; */
}

/* .site-sidebar ul li::before {
    content: '\25AA';
    list-style: circle;
    font-weight: bold;
    color: green;
    display: inline-block;
    width: 1em;
    margin-left: 1em;
} */