.site-header {
    border-bottom: 1px solid var(--color-border-defaut, #000);
    margin-bottom: var( --spacing-layout-elements, 2em);
    padding-bottom: var( --spacing-layout-elements, 2em);
}

.site-title {
    margin: 0;
    padding: 0;
}

.site-title a {
    display: block;
    padding: 0.5em;
}