@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:400,700&display=swap&subset=latin-ext');
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body, input, textarea, option, select, table, form {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Great Vibes, cursive;
    font-size: 1em;
    line-height: 1.2;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.45em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p, ul, ol, blockquote {
    padding-bottom: 1.5em;
}

blockquote {
    padding-left: 2em;
    font-style: italic;
    opacity: 0.8;
}

blockquote p:last-child {
    padding-bottom: 0;
    text-align: right;
}

li ul, li ol {
    padding-left: 1.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

ul li {
    list-style: square inside;
    padding-left: 1.5em;
}

ul li ul li {
    list-style: disc inside;
}

ul li ul li ul li {
    list-style: circle inside;
}

ol li {
    list-style: decimal inside;
    padding-left: 1.5em;
}

ol li ol li {
    list-style: upper-roman inside;
}