@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

$time-interval: 0.2s;


html {
    font: 16px/1.5 PT Sans;
    height: 100%;
}

body {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        li {
            list-style: none outside;
            padding-bottom: 0.8em;
            font-size: 1.4em;
            animation: comming-left 0.3s linear;
            animation-fill-mode: both;
            opacity: 0;

            @for $i from 1 through 7 {
                &:nth-child(#{$i}) {
                    animation-delay: $time-interval * $i;
                }
            }
        }

        span {
            padding-left: 0.5em;
        }

        i {
            font-size: 1.2em;
            width: 1.2em;
        }
    }
}


@keyframes comming-left {
    from {
        transform: translateX(-1.5em);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}