body {
    padding: 2rem;
    /* padding-top: 10rem; */
}

.site {
    max-width: 80rem;
    margin: 0 auto;
}

.site-header {
    /* position: fixed;
    width: 100%;
    top: 0; right: 0; left: 0;
    background: #FFF;
    z-index: 100;
    box-shadow: 0 2px 20px #000; */

    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.main-content, .main-sidebar {
    display: inline-block;
}

.site-content {
    width: 100%;
}

.main-content {
    width: 70%;
}

.main-sidebar {
    width: 29.5%;
    vertical-align: top;
    padding-left: 1rem;
}