.site-header nav {
    background: black;
    /* overflow: hidden; */
}

.site-header nav ul:after {
    display: block;
    content: "";
    clear: both;
    /* background: #f00;
    padding-bottom: 50%; */
}

.site-header nav li {
    display: block;
    color: #fff;
    list-style: none;
    background-color: #000;
    position: relative;
    padding: 0.2em 0.5em;
}

.site-header nav a {
    display: block;
    /* border: 1px solid #999; */
    padding: 0.5rem 0.5rem;
    color: #FFF;
    /* text-align: center; */
}

.site-header nav li:hover>a, .site-header nav li a:hover, .site-header nav li a:focus {
    /* border-color: #000; */
    background-color: #f00;
    color: #FFF;
    /* outline: none; */
    border-radius: 0.5em;
}

.site-header nav>ul>li {
    float: left;
}

.site-header nav li>ul>li>ul {
    position: absolute;
    top: 0;
    left: 100%;
}

.site-header nav li:hover>ul {
    /* ---animation 
    display: block; */
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    /* --- */
}

.site-header nav li ul {
    /* display: none;
    ---animation */
    display: block;
    opacity: 0;
    transform: translateY(1rem);
    pointer-events: none;
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    /* --- */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 7em;
}

nav li.has-sub-menu>a:after {
    display: inline-block;
    content: '>';
    padding: 0 0 0 0.2rem;
}